html {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("../images/background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

p {
    font-size:1.25vw;
}

.main p {
    font-size:.75vw;
}

#title {
    padding-top: 5%;
}

.info {
    width: 150px;
}

.fb {
    border: 5px dashed #202428;
}

#title, #vs h3, #vs p{
    background-color: #2a75bb;
    padding: 30px;
    border: 5px dashed #202428;
}

#player h3, #cpu h3 {
    background-color: #ffcb05;
    padding: 30px;
    border: 5px dashed #202428;
}

#bulbasaur1 {
    background-color: #49896F;
    border: 3px solid #202428;
}

#bulbasaur2 {
    background-color: #7EC8AC;
    border: 3px solid #202428;
}

#squirtle1 {
    background-color: #55A3AB;
    border: 3px solid #202428;
}

#squirtle2 {
    background-color: #96D4CF;
    border: 3px solid #202428;
}

#charmander1 {
    background-color: #F15F3E;
    border: 3px solid #202428;
}

#charmander2 {
    background-color: #F47931;
    border: 3px solid #202428;
}

#pikachu1 {
    background-color: #FAD61D;
    border: 3px solid #202428;
}

#pikachu2 {
    background-color: #FFD44A;
    border: 3px solid #202428;
}
